/**
 * Styles appliqués à l'editeur
 * 
 * @package WordPress
 * @subpackage marmiton
 **/

.bloc-recettes h2 {
    color: #d66c67;
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    margin: 1.5em 0;
    cursor: pointer;
}

.bloc-recettes .wp-block-post-excerpt {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 18px;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: 1.3;
}

.bloc-recettes .wp-block-post-excerpt__more-text {
    color: #d66c67;
    cursor: pointer;
}

.bloc-recettes h2:hover,
.bloc-recettes .wp-block-post-excerpt__more-text:hover {
    color: #ba0800;
    text-decoration: underline;
}

